/*@font-face{
   font-family: DINPro-Regular;
   src: url(../../../assets/fonts/DINPro-Regular_13937.ttf);
}
@font-face{   
    font-family: DINPro-Medium;
    src: url(../../../assets/fonts/DINPro-Medium_13936.ttf);
}*/


.wearers-list-wrap{
    max-width: 24%;
    /*min-width: 342px;*/
    width: 330px;
    min-width: 270px;
}

 .wearers{
 	width: 100%;
    /*height: */
    /*margin-bottom: 0;*/
    box-shadow: 2px 2px 4px #EAEAEA, -2px 2px 4px #EAEAEA;
    background-color: #FFFFFF;
    /*max-height: 336px;
    overflow-x: none;
    overflow-y: auto;*/
}


.tile__header{
    width: 100%;
    height: 51px;
    color: white;
    font-size: 20px;
    font-family: DINPro-Regular;
    padding-left: 6%;
    background-color: #B52F54;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .wearers__user{
    height: 47px;
    color: #565656;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}




 .selWearer{
    background-color: #f2f2f2;
}

.defWearer {
    background-color: #f2f2f2;
}


.wearers__user__logo {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    margin-right: 15px;
    border-radius: 35px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(./settings/default_avatar.png)
}

.wearers__user__logo img{
    /*width: 35px;
    height: 35px;
    border-radius: 35px;*/
    
    border-radius: 35px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: bottom;


}
.user__name{
    display: block;
    width: 240px;
    padding-left: 28px;
/*    padding-right: 189px;*/
}



.searchWrap{
	height: 64px;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}


.searchWearers{
	width: 89%;
	height: 60%;
	padding-left: 3%;
    padding-top: 0;
	font-size: 15px;
	border: 1px solid #E5E5E5;
    border-radius: 0;

}

.searchWearers::placeholder {
    color: #b3b3b3;
}

.search_icon{
    position: absolute;
    right: 30px;
    top: 23px;

}

.wearerList{
    overflow: auto;
    max-height: 190px;

}

.wearerList::-webkit-scrollbar { 
    display: none; 
}

.addWearerButton{
    width: 100%;
    border-style: none;
    background-color: #FFFFFF;
    height: 45px;
    color: #B52F54;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid #EAEAEA;
    box-shadow: 2px 2px 4px #EAEAEA, -2px 2px 4px #EAEAEA;
    background-color: #FFFFFF;
}

.addWearerButton__icon{

    margin-left: 25px;
    margin-right: 10px;
}


