.wearerProfileWrap {
	width: 100%;
	background-color: white;
	box-shadow: 2px 2px 4px #EAEAEA, -2px 2px 4px #EAEAEA;
	margin-bottom: 1%;
}

.wearerProfile__header {
	padding: 2% 3% 1% 3%;
	color: #565656;
	font-size: 22px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.editWearerButton{
	width: 35px;
	height: 35px;
	/*background-image: url('../../../assets/icons/pencil.svg');*/
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
	border: 1px solid #EAEAEA;
	border-radius: 3px;
}

.wearerProfile__info{
	display: flex;
	flex-direction: row;
	color: #333333;
}


.wearerProfile__info img {
	width: 196px;
	height: 216px;
	margin: 1% 3% 3% 3%;
	/*border: 1px solid black; */
}

.wearerProfile__info__table {
	width: 30%;

}

.wearerProfile__info__table table{
	width: 100%;
	height: 90%;	
	margin-left: 7%;
}

/*.wearerProfile__info__table td:first-child{
	font-weight: 500;
}*/