*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html, body{
    background-color: #F5F5F5;
    font-family: DINPro-Regular;
}
.settings_container{
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.settings_header{
    background-color: #D2D2D2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.settings_header__logo{
    width: 191px;
    height: 63px;
    margin-left: 5px;
    /*width: 15%;
    height: 8%;
    margin-left: 5px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings_header__logo img{
    width: 80px;
    height: auto;
    margin-bottom: 5px;
    margin-left: 12px;
}

.settings_header__logo span{
    padding-left: 20px;
    font-family: "DINPro-Medium";
    font-size: 1.55rem;
    font-weight: 700;
    color: #b52f54;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.settings_header__menu{
/*  flex-shrink: 1;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.settings_header__menu > div{
    flex-wrap: wrap;
}
.settings_header__menu__item{
    height: 63px;
    padding: 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.2s ease;
    /*border-left: 1px solid red;*/

}
.settings_notificationDot{
    position: absolute;
    top: 16px;
    left: 23px; 
}

.settings_header__menu__item:hover{
    background-color: #BCBCBC;
    cursor: pointer;
}

.settings_header__menu__item__icon{
    padding-left: 5px; 
}
.settings_header__menu__item__link{
    text-decoration: none;
    /*font-size: 12px;*/
    font-size: 0.75rem;
    font-family: "DINPro-Regular";
    color: #242424;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 15px;
    letter-spacing: 0px;
    text-align: center;
}

.settings_header__profile{
    width: 191px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.settings_header__profile__logo{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-size: contain;
    background-position: top;
    background-size: 130%;
    margin-right: 21px;
}
.settings_header__profile__logo img {
    height: 35px;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#myDropdown {
    margin-right: 20px;
    position: absolute;
    width: 81px;
    background-color: #f9f9f9;
    min-width: 81px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    display: block;
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

.hidden{
  display: none;
}
#nav:checked + .nav-open {
  transform: rotate(45deg);
}
#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .settings_header__menu {
  z-index: 9990;
  opacity: 1;
}

@media screen and (max-width: 860px) {
    .settings_header__profile {
    width: auto;
    }
}
@media screen and (max-width: 735px) {
    .settings_header__logo {
    display: none;
    }
    .settings_header__menu {
        margin-left: 70px;
        position: absolute;
        z-index: -1;
        opacity: 0;
        transition: all 0.2s ease;
    }
    .nav-open {
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }
    .nav-open i {
        display: block;
        width: 20px;
        height: 2px;
        background: #1f2227;
        border-radius: 2px;
        margin-left: 14px;
    }
    .nav-open i:nth-child(1) {
        margin-top: 16px;
    }
    .nav-open i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }
    .nav-open i:nth-child(3) {
        margin-top: 4px;
    }
    .settings_header {
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 530px) {
    .settings_header__menu{
       flex-direction: column;
       background-color: #ccc;
       border-radius: 4px;
       top: 70px; 
       left: -60px;   
    }
    .settings_header__menu__item{
        width: 100%;
    }
}
@media screen and (max-width: 485px) {
    .add-group > div {
        padding: 3px 14px;
    }
}

