*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/*@font-face{
   font-family: DINPro-Regular;
   src: url(../../assets/fonts/DINPro-Regular_13937.ttf);
}
@font-face{   
    font-family: DINPro-Medium;
    src: url(../../assets/fonts/DINPro-Medium_13936.ttf);
}*/

html, body{
    height: 100%;
    background-color: #F5F5F5;
    font-family: DINPro-Regular;
}
.settings_container{
    width: 100%;
    height: 100%;
/*    background-color: #F5F5F5;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.settings_header{
    background-color: #D2D2D2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.settings_header__logo{
    width: 191px;
    height: 63px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings_header__logo img{
    width: 80px;
    height: auto;
    margin-bottom: 5px;
    margin-left: 12px;
}

.settings_header__logo span{
    padding-left: 20px;
    font-family: DINPro-Medium;
    font-size: 1.55rem;
    font-weight: 700;
    color: #b52f54;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.settings_header__menu{
/*    flex-shrink: 1;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    flex-wrap: wrap;

}
.settings_header__menu__item{
    height: 63px;
    padding: 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /*border-left: 1px solid red;*/

}
.settings_notificationDot{
    position: absolute;
    top: 16px;
    left: 23px; 
}

.settings_header__menu__item:hover{
    background-color: #C1C1C1;
}

.settings_header__menu__item:hover a{
    font-weight: 900;
}
.settings_header__menu__item__icon{
    padding-left: 5px; 
}
.settings_header__menu__item__link{
    text-decoration: none;
    font-size: 12px;
    color: #242424;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 15px;
    letter-spacing: 0px;
    text-align: center;
}

.settings_header__profile{
    width: 191px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.settings_header__profile__logo{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    /*background-image: url(../../assets/images/OldWoman3.png);*/
    background-size: contain;
    background-position: top;
    background-size: 130%;
    margin-right: 21px;
}
