.profile-buttons-container{
	margin-left: 76%;
}


.delete-wearer-data {
	width: 100px;
	height: 30px;
	color: white;
	background-color: #b5b5b5;
	border: none;
	border-radius: 2px;
	font-family: DINPro-Medium;
	margin-right: 7px;
}

.delete-wearer-data span {
	
	color: white;
	
}

.save-wearer-data {
	width: 100px;
	height: 30px;
	color: white;
	background-color: #b72b53;
	border: none;
	border-radius: 2px;
	font-family: DINPro-Medium;
}

.save-wearer-data span {
	
	color: white;
	
}