.wearerConfigWrap {
	width: 100%;
	
}

.wearerConfigWrap__name {
	padding: 13px 0 4px;
	font-family: DINPro-Regular;
	font-size: 20px;
	color: #565656;
}

.wearerConfigWrap__description {
	font-family: DINPro-Regular;
	font-size: 14px;
	color: #b3b3b3;
	padding-bottom: 25px;
}