.contentWrap{
	margin: 28px 18px ;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	width:97%;
}

.wearerConfigWrap {
	width: 76%;
	padding-left: 2%;
}

/*@media only screen and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio : 2) {

	.wearers-list-wrap {
		flex-wrap: nowrap;
	}
}*/




@media only screen and (max-width : 1224px) {
/* Styles */

.wearerList{
	max-height: 190px;
}

	.wearerConfigWrap {
		width: 98%;
		padding-left: 0;
	}
}




