.wearerProfileWrap {
	width: 100%;
	background-color: white;
	box-shadow: 2px 2px 4px #EAEAEA, -2px 2px 4px #EAEAEA;
	margin-bottom: 3%;
}

.wearerProfile__header {
	padding: 2% 3% 1% 3%;
	color: #565656;
	font-size: 22px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.wearerProfile__info{
	display: flex;
	flex-direction: row;
	color: #333333;
}


.wearerProfile__info__table {
	width: 30%;

}

.wearerProfile__info__table table{
	width: 100%;
	height: 90%;	
	margin-left: 7%;
}

/*.wearerProfile__info__table td:first-child{
	font-weight: 500;
}*/

.add-new-carer{
    /*width: 100%;*/
    margin-right: 26px;
    border-style: none;
    background-color: #FFFFFF;
    height: 45px;
    color: #B52F54;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 600;
    /*border-bottom: 1px solid #EAEAEA;*/
    /*box-shadow: 2px 2px 4px #EAEAEA, -2px 2px 4px #EAEAEA;*/
    background-color: #FFFFFF;
}

.add-new-carer__icon{

    /*margin-left: 25px;
    margin-right: 10px;*/

}

.carers-data-table{
	width: 100%;
	border: none;
	box-sizing: border-box;
	border-collapse: collapse;
	/*margin-left: 3%;*/
}


.carers-data-table th {
	font-weight: 100;
	font-size: 12px;
	color: #565656;
	width: 21%;
	text-align: left;
	padding-left: 3%;
	padding-bottom: 1%;

}

.carers-data-table th:last-child {
	text-align: left;
	padding-left: 0;
}

.carers-data-table td {
	font-size: 16px;
	color: #565656;
	text-align: left;
	padding: 1% 0 1% 3%;
}

.carers-datan-table td:last-child {
	text-align: left;
	padding-left: 0;
}
.carers-data-table tbody tr:hover {
	background-color: #f5f5f5;
	font-family: DINPro-Medium;

}

.edit-group {
	width: 39px;
	height: 39px;
	background-color: white;
	border: 2px solid #EAEAEA;
	/*box-shadow: 2px 2px 4px #EAEAEA, -2px 2px 4px #EAEAEA;*/
	border-radius: 4px;
	margin-right: 6px;
	padding-top: 4px;
	box-shadow: 0px 2px 4px #EAEAEA;
}

.delete-group {
	width: 39px;
	height: 39px;
	background-color: white;
	border: 2px solid #EAEAEA;
	box-shadow: 0px 2px 4px #EAEAEA;
	border-radius: 4px;
	padding-top: 4px;
}