.reminders .navigation ul li:nth-child(2) {background-color: #a1a1a1;}
.switch-wearers .add-group .dropdown{display: none;}
.switch-wearers > div {padding-left: 10px;}

.reminders .switch-date p, .reminders .user-name p, .reminders .change-week p{
  font-size: 13px;
  font-family: 'DINPro-Medium'
}

.dropbtn {
  position: relative;
  background-color: #fff;
  color: #808080;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #E6E6E6;
  padding: 8px;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  z-index: 0;
}
.dropbtn:after {
  z-index: 100;
  content: url('../assets/icons/triangle.svg'); 
  position: absolute;
  bottom: 0px;
  right: 10px;
}
.combobox {
  width: 150px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  cursor: pointer;
  list-style: none;
  display: none;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  &::-webkit-scrollbar{
    display: none;
  }
}

.dropdown-content li {
  color: #808080;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {background-color: #f1f1f1}

.combobox:hover .dropdown-content {
  display: block;
}
.combobox:hover .dropbtn::after{
  bottom: 3px;
  transform: rotate(180deg);
}
.switch-wearers {display: flex; justify-content: space-between;}
.switch-wearers > div:nth-of-type(2) {
  display: flex; 
  align-items: center; 
  margin-right: 30px;
}

.search {
  margin-left: 20px;
  width: 200px;
  position: relative;
}
.search input {
  border-radius: 3px;
  border: 1px solid #E6E6E6;
  padding: 8px;
  color: #808080;
  font-size: 16px;
  text-align: left;
  width: 100%;
  font-family: 'DINPro-Regular';
  outline: none;
}
.search::after{
  position: absolute;
  top: 10px;
  right: 6px;
  content: url('../assets/icons/search.svg');
}
.reminderslist {
  cursor: pointer;
  list-style: none;
  display: none;
  width: 100%;
  max-height: 200px;
  overflow: scroll;
  position: absolute;
  background-color: #fff;
  z-index: 1;
}
.reminderslist:hover {display: block;}
.reminderslist li:hover {background-color: #f1f1f1}
.reminderslist::-webkit-scrollbar { 
  display: none; 
}
.reminderslist li {
  color: #808080;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.search input:focus + ul{
  display: block;
}
.user-image {
  margin-right: 5px;
}
.switch-date{
  background-color: #F9F9F9;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080;
  font-family: 'DINPro-Medium';
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}
.switch-date span{ 
  padding: 10px;
  margin-top: -3px; 
  font-size: 20px;  
  cursor: pointer; 
}
.change-week{
  display: flex; 
  width: 100%;
  justify-content: space-around;

}
.change-week > div {
  background-color: #F9F9F9;
  padding: 10px 10px;
  border: 1px solid #e6e6e6;
  border-top: none;
  width: 12.5%;
  font-size: 12px;
  color: #808080;
  font-family: 'DINPro-Medium';
}
.calendar .user {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  font-size: 14px;
  color: #808080;
  font-family: 'DINPro-Medium';

}
.calendar .user > div {border: .1px solid #e6e6e6;}
.calendar .user .user-name{
  height: auto;
  width: 12.5%;
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  justify-content: space-between;
}
.calendar .user img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.calendar .user .user-name > div:first-child img{
  height: 30px;
  width: 30px;
}
.calendar .user-week > div > div:nth-child(odd){
  background-color: #fff;
}
.calendar .user-week > div > div:nth-child(even){
  background-color: #f7f7f7;
}
.calendar .user .user-name div:nth-of-type(2){
  padding: 2px;
  box-shadow: 0 0 3px rgba(0,0,0,0.6);
  margin-right: 10px;
  border-radius: 2px;
}
.calendar .user .user-name div:first-of-type{
  display: flex;
  margin-left: 5px;
  align-items: center;
}
.calendar .user .user-name div:first-of-type img{
  margin-right: 5px;
}
.calendar .user .events {
  min-height: 47px;
  width: 12.5%;
  max-height: 130px;
  overflow-y: scroll;
  &::-webkit-scrollbar { 
      display: none; 
    }
}
.calendar .user .dayevents img{margin-top: 4px;}
.calendar .user .dayevents {
  display: flex;
  height: 37px;
  align-items: flex-start;
  background-color: #FFF0D0;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  position: relative;
  & hr{
    background-color: #f00;
  }
}
.calendar .user .dayevents p {margin-left: 5px;}
.calendar .user img.delete-event {
  height: 13px;
  width: 13px;
  position: absolute;
  top: -3px;
  right: 0;
}
.calendar .user img.delete-event:hover{
  background-color: #ccc;
}
.modal-edit{
  display: flex;
  padding: 20px;
}
.modal-edit :first-child{padding-left: 0; padding-top: 0;}
.modal-edit input{border: solid 1px #ececec;}
.modal-edit .rdt input {display: none;}
.calendarnone {
  display: none;
}
.modal-edit img {
  background-color: #F2F2F2;
  padding: 10px;
  border: 1px solid #F2F2F2;
  border-left: 0;
  border-radius: 0 3px 3px 0;
}
.modal-edit .addtime img {
  padding: 7px;
  margin-left: 10px;
  background-color: #fff;
  border-left: 1px solid #F2F2F2;
  border-radius: 3px;
}
.setdate {
  margin-top: 20px;
  position: relative;
  display: flex;
}
.setdate .rdt {
  position: absolute;
  background-color: #F2F2F2;
  border-radius: 3px;
  z-index: 9999999;
  top: 47px;
  left: 25px;
}
.setdate .rdtDays table tbody tr td{
  cursor: pointer;
  padding: 5px;
}
.setdate .rdtDays table thead tr:first-of-type{
  height: 30px;
  & .rdtPrev, .rdtNext{
    cursor: pointer;
    &:hover{
      background-color: #f9f9f9;
    }
  }
}
.setdate .rdtNew,.setdate .rdtOld{
  opacity: 0.4;
}
.setdate tfoot{display: none;}
.modal-edit .start, .modal-edit .end 
{
  display: flex;
  border-radius: 2px;
  height: 42px;
  min-width: 245px;
  & p {
    font-family: 'DINPro-Regular';
    width: 70%;
    padding: 10px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #F2F2F2;
  }
}
.modal-edit .calend {
    left: 270px;
}
.modal-edit .addtime > :nth-child(n){
  margin-bottom: 5px;
}
.addtime {
  width: 98%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.addtime > div{display: flex;}
.modal-edit .addtime p{
  padding: 8px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #F2F2F2;
}
.modal-edit .addtime input{
  width: 120px;
  padding: 12px 5px;
}
.modal-edit .footer{
  margin-top: 30px;
  align-self: flex-end;
}
.modal-edit .combobox{
  width: 70%;
  &button{
    border-radius: 3px;
  }
}
.reminder-type{
  padding-bottom: 20px;
  border-bottom: 1px solid #F2F2F2;
}
.modal-edit .combobox button{height: 40px; padding-left: 5px;}
.modal-edit .dropdown-content{
  & li{
    padding: 5px;
  }
}
.modal-edit .reminder-type p:hover .dropdown-content{
  display: block;
}
.backdrop .modal-edit .footer{padding: 0;}
.modal-edit .footer:first-child{margin-left: 0;}
.backdrop .modal-edit .footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  & div:first-child img {
    margin-left: 0;
    background-color: transparent;
    border: none;
    border-radius: 3px;
  }
}



@media screen and (max-width: 970px) {
  .reminders .events > div img:first-of-type{display: none;}
  .calendar .user .user-name{
    flex-direction: column;
    justify-content: flex-start;
    & > div:last-child {
      margin-top: 10px;
      margin-left: 5px;
      margin-bottom: 5px;
    }
  }
  .calendar .user .dayevents p{margin-left: 0;}
  .calendar .user .dayevents {padding-top: 3px;}
  .calendar .user .events {
  }
}
@media screen and (max-width: 829px) {
  .reminders .group {
    padding: 3px 14px;
  }
  .switch-wearers {
    flex-direction: column;
    align-items: center;
    & .user-image{display: none;}
    & > div:nth-of-type(2){
      margin-right: 0;
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-left: 0;
      & > div {
        width: 48%;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .calendar > div:last-child{
    display: flex;
    & .change-week {
      width: 25%;
      flex-direction: column;
      & > div {
        width: 100%;
        padding: 16px 10px;
      }
      & > div:first-child{
        padding: 23px 10px;
      }
    }
  }
  .calendar .user-week {
    overflow: scroll;
    width: 75%;
    &::-webkit-scrollbar { 
      display: none; 
    }
  }
  .calendar .user-week > div {
    display: flex;
  }
  .calendar .user-week > div > .user{
    display: flex;
    min-width: 100%;
    flex-direction: column;
    & .events {
      min-width: 100%;
      max-height: 40px;
    }
    & .user-name {
      min-width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-top: 0;
    }
  }
}
@media screen and (max-width: 512px) {
  .switch-wearers {
    & > div:nth-of-type(2){
      margin-right: 0;
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-left: 0;
      & > div {
        width: 98%;
      }
    }
  }
  .modal-edit .setdate {
    flex-direction: column;
    & > div {
      margin-bottom: 5px;
    }
    & .calend{
      top: 90px;
    }
    & .start, .end {
      flex-direction: row-reverse;
      & img {
        border-right: 0;
        border-radius: 3px 0 0 3px;
      }
      & p {
        border-radius: 0 3px 3px 0;
      }
    }
  }

  .modal-edit :first-child{padding-top: 0;}
  .setdate .rdt{left: 2px;}
  .modal-edit .start p, .modal-edit .end p{width: 90%;}
  .switch-wearers > div:nth-of-type(2){
    margin-right: 0;
    padding-left: 0;
    flex-direction: column;
    justify-content: flex-start;
    & .search {
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 0;
    }
  }
  .calendar > div:last-child .change-week > div:first-child{
   height: 60px;
  }
  .calendar > div:last-child .change-week > div{
    height: 46px;
  }
}